@charset "UTF-8";
@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

body {
  color: #222222;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  width: 100%;
  letter-spacing: 0.04em;
}

.header {
  background-color: #E32E2E;
  color: #ffffff;
  width: 100%;
  height: 84px;
  line-height: 84px;

  &__container {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
  }

  &__list {
    display: flex;
  }

  &__item {
    font-size: 16px;

    &+& {
      margin-left: 24px;
    }
  }
}

.top {
  background-image: url(../images/top.png);
  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    height: 181px;
    line-height: 181px;

    h1 {
      color: #ffffff;
      letter-spacing: 0.1em;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
    }
  }
}

.search {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  width: 100%;
  margin: 40px 0 32px 0;

  &__container {
    width: 950px;
    margin: 0 auto;
  }

  &__area {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2212%22%20height%3D%2218%22%20viewBox%3D%220%200%2012%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M6%200.666748C2.775%200.666748%200.166664%203.27508%200.166664%206.50008C0.166664%2010.8751%206%2017.3334%206%2017.3334C6%2017.3334%2011.8333%2010.8751%2011.8333%206.50008C11.8333%203.27508%209.225%200.666748%206%200.666748ZM6%208.58342C4.85%208.58342%203.91666%207.65008%203.91666%206.50008C3.91666%205.35008%204.85%204.41675%206%204.41675C7.15%204.41675%208.08333%205.35008%208.08333%206.50008C8.08333%207.65008%207.15%208.58342%206%208.58342Z%22%20fill%3D%22%23E32E2E%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: 13px 13px;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    width: 316px;
    height: 44px;
    padding-left: 39px;
  }

  &__storeName {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2216%22%20height%3D%2214%22%20viewBox%3D%220%200%2016%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M14.6667%200.333252H1.33333V1.99992H14.6667V0.333252ZM15.5%208.66658V6.99992L14.6667%202.83325H1.33333L0.5%206.99992V8.66658H1.33333V13.6666H9.66667V8.66658H13V13.6666H14.6667V8.66658H15.5ZM8%2011.9999H3V8.66658H8V11.9999Z%22%20fill%3D%22%23E32E2E%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: 13px 15px;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    width: 372px;
    height: 44px;
    margin-left: 20px;
    padding-left: 39px;
  }

  &__privateRoom {
    display: none;

    &:checked+.search__label::before {
      background: #E32E2E url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M4.74999%208.14995L1.59999%204.99995L0.549988%206.04995L4.74999%2010.25L13.75%201.24995L12.7%200.199951L4.74999%208.14995Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E") no-repeat 5px center;
    }
  }

  &__label {
    margin-left: 40px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 15px 40px;
    position: relative;
    width: auto;

    &:before {
      border: 1px solid #dddddd;
      background-color: #ffffff;
      border-radius: 4px;
      content: "";
      display: block;
      height: 25px;
      width: 25px;
      top: 50%;
      left: 5px;
      margin-top: -12.5px;
      position: absolute;
    }
  }

  &__button {
    margin-top: 24px;
    padding-bottom: 50px;

    input {
      background-color: #E32E2E;
      border-radius: 4px;
      color: #ffffff;
      display: block;
      text-align: center;
      width: 210px;
      height: 40px;
      margin: 0 auto;
    }
  }
}

.result {
  &__container {
    width: 960px;
    margin: 0 auto;
  }

  &__item {
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    margin-top: 33px;
  }

  &__image {
    margin-bottom: 33px;

    img {
      width: 200px;
      height: 200px;
    }
  }

  &__content {
    margin-left: 50px;
  }

  &__storeName {
    font-size: 24px;
    margin-bottom: 12px;
  }

  &__location {
    font-size: 14px;
    margin-bottom: 16px;
  }

  &__description {
    font-size: 14px;
  }

  &__privateRoom {
    border: 1px solid #CCCCCC;
    border-radius: 14px;
    display: inline-block;
    font-size: 10px;
    line-height: 23px;
    text-align: center;
    width: 66px;
    height: 25px;
    margin-top: 16px;
  }
}